:root {
    --primary-color: #dcfacb;
    --secondary-color: #dc6ac5;
    --tertiary-color: #7dcb5f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

  /* HEADER / NAV BAR STYLES START */

  header {
    padding: 20px 40px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */

  /* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    padding: 40px 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
  /* END FOOTER STYLES */
  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }

  .section-title {
    font-size: 50px;
    border-bottom: 5px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* SECTION TITLE STYLES END */

  /* p styles */
  .intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }

  /* UTILITIES */
.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }

  /* UTILITIES END*/

  /* About me styles */
  .about { 
    background: var(--primary-color);
    color: white;
  }

  .about-text {
    flex: 12;
  }
  
  .about-text p {
    color: white;
    font-size: 18px;
  }
  
  .about-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
  }

  .image {
    background-image: url(../assets/Images/leaves.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    color: white;
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }

  .img {
    max-width:25%;
     height:auto;
  }

  .me {
    margin: 20px;
    flex: 1;
  }

